<nav class= "light-green darken-3">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i id="logo" class="fab fa-centercode"></i> Kibbutz</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%if(!currentUser){%>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            <%} else { %>
                <li><a href="/profiles/<%=currentUser._id%>"><%=currentUser.username%></a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>
