<% include partials/header %>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">

            <div class="row">
                <div class="input-field col s12">
                    <input name="username" id="username" type="text">
                    <label class="active" for="username">Username</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input name="password" id="password" type="password">
                    <label class="active" for="password">Password</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn">Login</button>
        </form>
    </div>
<% include partials/footer %>
