<% include ../partials/header %>

    <% include ../partials/navbar %>
    <div class="container">
        <!--TODO: Make better banner-->
        <h1 class="center-align"> Explore community projects around you! </h1>

        <!--Project Display-->
        <div class="row text-center style="display: flex; flex-wrap: wrap"">
            <% projects.forEach(function(project){ %>
                <div class="col md3 s6">
                    <div class="card medium">
                        <div class="card-image"><%=project.title%>
                            <img src="<%=project.thumbnail%>">
                                <div></div>
                            </img>
                        </div>
                        <div class="card-content">
                            <p><%=project.description%></p>
                        </div>
                        <div class="card-action"></div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer %>
